# Python temporary files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (Recommended to keep large CSVs out of GitHub)
*.csv
*.zip
*.json

# OS specific files
.DS_Store
Thumbs.db
